.card {
    position: relative;
    display: block;
    padding: 0.4rem 0;
    margin: 0 0.36rem;
    color: #949494;
  }
  
  .title,
  .categoryTag {
    vertical-align: middle;
  }
  
  .title {
    font-size: 0.34rem;
    font-weight: 700;
    color: #36404a;
  }
  
  .categoryTag {
    position: relative;
    display: inline-block;
    min-width: 0.7rem;
    height: 0.36rem;
    padding: 0 0.08rem;
    margin: 0 0.2rem 0 0.05rem;
    font-size: 0.22rem;
    line-height: 0.36rem;
    color: #fff;
    text-align: center;
    background-color: #838d98;
    border-radius: 0 0.06rem 0.06rem;
  }
  
  .categoryTag::before,
  .categoryTag::after {
    position: absolute;
    top: 0;
    left: -0.1rem;
    width: 0.1rem;
    height: 0.1rem;
    content: '';
  }
  
  /* 正方形 */
  .categoryTag::before {
    background-color: #838d98;
  }
  
  /* 1/4圆 */
  .categoryTag::after {
    width: 0.1rem;
    height: 0.1rem;
    background-color: #fff;
    border-radius: 0 100% 0 0;
  }
  
  .time {
    margin: 0.12rem 0 0.28rem 0.02rem;
    font-size: 0.26rem;
  }
  
  .lessonNum {
    margin-left: 0.2rem;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.22rem;
  }
  
  /* 教师 */
  .teacherCont {
    margin-left: 0.09rem;
  }
  
  .teacherBox {
    position: relative;

     /* 放同一条线 */
    display: inline-block;
    max-width: 0.88rem;
    margin-right: 0.36rem;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .teacherBox:last-child {
    margin-right: 0;
  }
  
  .imgWrapper {
    position: relative;
    width: 0.48rem;
    height: 0.48rem;
    margin: 0 auto 0.09rem;
  }
  
  .avatar {
    position: absolute;

    /* 占据整个blocks */
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .avatarBorder {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0 0 0 / 3%);
    border-radius: 50%;
  }
  
  /* 价格/优惠/数量 */
  .promoCont {
    text-align: right;
    white-space: nowrap;
  }
  
  .soldOut {
    font-size: 0.36rem;
    line-height: 1;
  }
  
  .warningColor {
    color: #ff773a;
  }
  
  .promoCont .price {
    position: relative;
    margin-left: 0.16rem;
    font-size: 0.36rem;
    font-weight: bold;
    line-height: 1;
    color: #ff773a;
  }
  
  .promoCont .price > .ico {
    margin-right: 0.08rem;
    font-size: 0.24rem;
    font-weight: normal;
    line-height: 1;
  }
  
  .promoCont .price > .icoInIos {
    margin-right: 0;
    font-size: 0.36rem;
    font-weight: bold;
  }
  
  .promoCont .deleted {
    font-size: 0.26rem;
  
    /* 删除线 */
    text-decoration: line-through;
  }
  
  .promoCont .desc {
    margin-top: 0.17rem;
  }
  