.container {
  margin: -0.27rem 0.36rem 0;
}

.suggestItem {
  padding: 0.33rem 0;
  font-size: 0.3rem;
  color: #36404a;
  letter-spacing: 0;
}

/* *选中同一个after伪元素，可以修改同一个伪元素样式 */
.suggestItem::after {
  /* tricks to let border color happend on some old phone version  */
  color: #ebebeb;
  border-bottom: solid 1px #ebebeb;
}
